* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.myGrid {
    display: grid;
    grid-template-rows: 100px 40px auto;
    justify-content: center;
}

.logo {
    width: 150px;
    padding: 20px;
}

.carRental {
    width: 500px;
    height: 40px;
    background-color: #ed8b00;
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.carRental h2 {
    margin: 0;
    height: 40px;
    padding-top: 10px
}

.border {
    width: 1000px;
    height: 2px;
    background-color: #ed8b00;
    align-items: end;
}

.formContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px auto auto auto auto auto auto auto auto auto;
    height: auto;
    width: 1000px;
    background-color: #d6d6d6;
    padding: 20px;
    margin-top: 30px;

}

.heading {
    grid-column: 1/5;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.formContainer img {
    object-fit: cover;
    width: auto;
    height: 100px;
}

.vehicleContainer {
    grid-column: 1/4;
    display: flex;
}

.vehicle {
    background-color: #eaeaea;
    height: 150px;
    padding: 15px 70px;
    border: 0.5px solid black;
}

.optionCounty,
.optionStation,
.send {
    grid-column: span 4;
    height: auto;
    margin-top: 30px;
}

select {
    appearance: none;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
}

input[type="radio"] {
    accent-color: #c31205;
}


input[type="text"],
select {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.name {
    height: 80px;
}

.datePickUp,
.dateReturn,
.timePickUp,
.timeReturn,
.password {
    grid-column: span 2;
    margin-top: 30px;

}

.profile {
    grid-column: 1/5;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.password {
    grid-row: span 2;
}

input[type="time"],
input[type="date"],
input[type="password"] {
    width: 90%;
    height: 40px;
}

input[type="text"] {
    width: 90%;
}

input[type="email"] {
    width: 95%;
    height: 40px;
}

.email {
    grid-column: span 4;
}

.name,
.policy {
    grid-column: span 2;
}

.policy {
    display: flex;
    margin: 30px 30px 30px 0;
    justify-content: center;
}

.policy p {
    padding-left: 30px;
    font-style: italic;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #ed8b00;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: #b76d05 solid 1px;
}